.weather-container {
    background-color: rgb(224, 224, 224);
    padding: 2rem 6rem 1rem 6rem;
}

.title {
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.title span {
    color: rgb(156, 71, 71);
    padding-left: 0.4rem;
}